

.ProductCard {
    background-color: rgb(243, 246, 246);
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.479);
    cursor: pointer;
}


.card-image {
    width: 10rem;
}

.card-name {
    font-size: 1.25rem;
}