.CheckoutForm {
    margin-top: 5rem;
}


.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.purchase-msg {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.purchase-msg span {
    color: rgb(6, 47, 47)
}

input, button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1.25rem;
}

button {
    margin-top: 1.5rem
}